* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --emphasis-header: #7c412c;
  --emphasis-plan: #f8b9a2;
  --blue-hover: #1775a6;
  --text: #828799;
  --container: 6rem;
  --container-card: 30px;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #e5e5e5;
}

@media (min-width: 321px) and (max-width: 412px) {
  :root {
    --container: 2rem;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  :root {
    --container: 3rem;
  }
}
